.title{
    text-align: center;
    color: white;
    background-color: #000000;
    width: 100%;
    font-weight: 600;
    font-family: 'papyrus';
    text-decoration: #fca311 underline solid;
    letter-spacing: 10px;
}
/* removes underline from links */
a{
    text-decoration: none;
    color: white;
}

.links {
    text-align: center;
}

.links a:hover {
    color: #14213d;
    background-color: #ffffff;
    font-size: large;
    font-weight: 700;
}

.links a:active {
    background-color: #fca311;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p::first-letter {
    font-size: 50px;
}

p::first-line {
    color:#fca311;
}

*::selection {
    background-color:black;
}

* {
    color:white;
}
body{
    background-color: #14213d;
}

.gameList{
    color: white;
}

#zeldaPic{
    margin-left: auato;
    margin-right: auto;
    width: 100%;
}
